{% include 'project/hooter/header.twig' %}

<div class="tab-pane" id="section">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h2>
                <span class="glyphicon glyphicon-list"></span>
                Auswahl der verfügbaren Sektionen</h2>
        </div>
        <div class="panel-body">
            Die hier aufgelistet Sektionen sind bestimmte Bereiche auf der Experimentseite. Zum Beispiel erzeugt die Sektion "Header" im Kopfteil der Seite eine Navigation in der Karten angezeigt werden können. Nur die aktivierten Sektionen werden in der
            Informationsarchitektur angezeit. Beim Import der Informationsarchitektur werden ebenfalls nur Karten in bereits aktivierte Sektionen importiert (weitere Informationen zum Import unter
            <a href="{{ urlFor('/help') }}" style="white-space: nowrap;">
                <i class="glyphicon glyphicon-info-sign"></i>
                Spezifikationen</a>).<br/><br/>
            <form action="{{ urlFor('/project/section/update', {ID:project.ID}) }}" method="post" id="blub">

                <div class="list-group">
                    {% for item in projectSections %}
                        <a class="list-group-item checkbox {% if item.active == 1 %}active{% endif %}" id="section[{{item.ID}}]">
                            <div class="row">
                                <div class="col-md-1 col-md-offset-1"><br/>
                                    <div class="checkbox" data-initialize="checkbox">
                                        <label class="checkbox-custom">
                                            <input name="section[{{item.ID}}]" class="sr-only" type="checkbox" {% if item.active == 1 %} checked="true" {% endif %}>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h4 class="list-group-item-heading">{{item.section}}</h4>
                                    <p class="list-group-item-text">{{item.description}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Speichern</button>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <div class="btn-group btn-group-justified">
                        <a href="{{urlFor('/project/export/file',{ID:project.ID,NAME:" section"})}}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-export"></span>
                            Exportieren</a>
                        <a href="{{urlFor('/project/import',{ID:project.ID})}}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-import"></span>
                            Importieren</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var REQUIREJS = "{{urlFor('/js/project/section/section')}}";
</script>
{% include 'project/hooter/footer.twig' %}
